<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918316250924-sufoc5ckbomh1sm0oijaqv3je2mvh6ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918316250924-sufoc5ckbomh1sm0oijaqv3je2mvh6ar</string>
	<key>API_KEY</key>
	<string>AIzaSyBrvXGVbxMLKX1SFI0MMsHxXyi0L5nBbq4</string>
	<key>GCM_SENDER_ID</key>
	<string>918316250924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Oktay-Kurt.NTV-Project</string>
	<key>PROJECT_ID</key>
	<string>ntv-project-35f0f</string>
	<key>STORAGE_BUCKET</key>
	<string>ntv-project-35f0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918316250924:ios:79ef8b85a4f4a20cde1e89</string>
	<key>DATABASE_URL</key>
	<string>https://ntv-project-35f0f.firebaseio.com</string>
</dict>
</plist>